<!-- src/app/sidebar/sidebar.component.html -->
<nav class="sidebar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i> Home</a></li>
    <li><a routerLink="/collections" routerLinkActive="active"><i class="fa fa-book"></i> Collection</a></li>


    <li><a routerLink="#"><i class="fa fa-database"></i> E-Database</a></li>
    <li><a routerLink="#"><i class="fa fa-exclamation-triangle"></i> Overdue Charges</a></li>
    <li><a routerLink="#"><i class="fa fa-user"></i> Profile</a></li>
    <li><a routerLink="#"><i class="fa fa-list"></i> Library Rules</a></li>
    <li><a routerLink="#"><i class="fa fa-life-ring"></i> Help</a></li>
    <li><a routerLink="#"><i class="fa fa-cog"></i> Settings</a></li>
  </ul>
</nav>
